* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 3rem;
}


.middle {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}

button {
  padding: 1rem;
}

h1, h2, p, video {
  margin-bottom: 1rem;
}

header {
  padding: 1rem;
}

video {
  width: 100%;
}